<div class="jumbotron">
    <h1>XAML SYNC</h1>
    <p class="lead">

        Please Use unique url from the following set:
        http://arun6202-001-site1.gtempurl.com/api/XamlSync6202

        OR

        http://arun6202-001-site1.gtempurl.com/api/XamlSync1
        http://arun6202-001-site1.gtempurl.com/api/XamlSync2
        http://arun6202-001-site1.gtempurl.com/api/XamlSync3
        http://arun6202-001-site1.gtempurl.com/api/XamlSync4
        http://arun6202-001-site1.gtempurl.com/api/XamlSync5
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync.
        http://arun6202-001-site1.gtempurl.com/api/XamlSync100



    </p>
</div>

